html {
    color: white;
    font-family: 'Nunito', sans-serif;
}

body {
    background-image: url('notes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
  font-size: 70px;
}

.flex-fullHeight {
    height: 20vh;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.page-section {
  margin-top: 100px;
  text-align: center;
  
}

img {
  width: 60%;
  display:inline-block;
}

.box {
  background-color: rgba(0, 0, 0, .1);
  padding: 10px;
  margin: 10px;
}

.box:hover {
  background-color: rgba(0, 0, 0, .2);
}

.title {
    font-size: 84px;
}

.links > a {
    color: white;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}


